<!DOCTYPE html>
<html>
  <head>
    <title>Pets 101</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="row">
      <div class="col-3">
       
      </div>
      
      <div class=" col-4 offest-1">
        <div class="intro">
        Tips for New Dog Owners
      </div> 
    </div>

  </header>
  <hr />
  <br class="clear" />

<div class="container">
  <% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
    <% end %>
    <%= yield %>
  </div>

  
    <div class="container">
      <div class="row">
        <div class="col-5 comment-section">
           <%= link_to 'Contribute your tips to our comment section', new_pet_path %>
     
      </div>
    </div>
  </div>

  </body>
</html>
